@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Kaushan+Script&family=Lobster&family=Major+Mono+Display&family=Ranchers&display=swap');

/*span-photo Section (START)*/
.span-photo {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    border-style: solid;
    border-color: #E4EEF6;
    background-color: #E4EEF6;
}

.span-photo-img-container {
    margin-bottom: 0;
    padding-bottom: 0;
}

.span-photo-img {
    width: 800px;
    height: auto;
    margin-bottom: 0;
    padding-bottom: 0;
}

.intro {
    flex: 1;
    justify-content: left;
    align-items: center;
    position: relative;
    font-size: 1.8em;
    margin: 1em;
}

.intro-statement {
    justify-content: center;
    text-align: left;
    font-size: 3em;
}

/*Credit: https://codepen.io/tfunk2/pen/abmNxrY*/
.flash-text {
    height: 1.5em;
    justify-content: center;
    text-align: left;
    font-size: 3em;
}

.font-change {
    animation-name: fontChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes fontChange {
    0% {
        font-family: 'Lobster', cursive;
    }
    25% {
        font-family: 'Ranchers', cursive;
    }
    50% {
        font-family: 'Bitter', serif;
    }
    75% {
        font-family: 'Kaushan Script', cursive;
    }
    100% {
        font-family: 'Lobster', serif;
    }
}
/*span-photo Section (END)*/

/*profile Section (START)*/

.profile {
    width: 100%;
    padding-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile img{
    width: 25em;
    height: 25em;
    border-radius: 50%;
}

.pre-bio {
    width: 40%;
    padding: 5em;
    align-items: center;
    text-align: center;
    justify-content: right;
}

.pre-bio h1 {
    text-align: left;
    font-size: 2.5em;
}

.pre-bio h2 {
    text-align: left;
    font-size: 2em;
}

.pre-bio p, .pre-bio a{
    text-align: center;
    font-size: 1.5em;
}

.pre-bio a {
    color: #858c92;
}

.pre-bio a:hover {
    color: #2d475d;
}

.self-portrait {
    padding: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*profile Section (END)*/

/*contact Section (START)*/

#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10em 0 10em 0;
}

#contact p {
    margin-bottom: 0.5em;
    font-size: 3em;
}

.social-icons {
    display: flex;
}

.icons {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0.75em;
    margin: 1em;
}

.icon-labels {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top:1em;
}

.icon-labels a{
    margin: 1em;
}

/*contact Section (END)*/

@media (max-width:1000px){
    .flash-text {
        height: 1.5em;
        justify-content: center;
        text-align: left;
        font-size: 2.5em;
    }

    .span-photo-img {
        display: none;
    }

    .profile {
        flex-direction: column;
    }
    
    .pre-bio {
        justify-content: center;
    }
}