@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Kaushan+Script&family=Lobster&family=Major+Mono+Display&family=Ranchers&display=swap');

/*span-photo Section (START)*/
.span-photo {
    width: 100%;
    margin: 0;
    display: flex;
    border-style: solid;
    border-color: #E4EEF6;
    background-color: #E4EEF6;
}

.span-photo img {
    width: 50em;
}

.intro {
    justify-content: left;
    align-items: center;
    position: relative;
    font-size: 2em;
}

.intro-statement {
    justify-content: center;
    text-align: left;
    font-size: 3em;
}

/*Credit: https://codepen.io/tfunk2/pen/abmNxrY*/
.flash-text {
    height: 1.5em;
    justify-content: center;
    text-align: left;
    font-size: 3em;
}

.font-change {
    animation-name: fontChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes fontChange {
    0% {
        font-family: 'Major Mono Display', monospace;
    }
    20% {
        font-family: 'Kaushan Script', cursive;
    }
    40% {
        font-family: 'Lobster', cursive;
    }
    60% {
        font-family: 'Ranchers', cursive;
    }
    80% {
        font-family: 'Bitter', serif;
    }
    100% {
        font-family: 'Major Mono Display', monospace;
    }
}
/*span-photo Section (END)*/

/*profile Section (START)*/

.profile {
    width: 100%;
    padding-top: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile img{
    width: 30em;
    border-radius: 50%;
}

.pre-bio {
    width: 40%;
    padding: 5em;

    align-items: center;
    text-align: center;
    justify-content: right;
}

.pre-bio h1 {
    text-align: left;
    font-size: 3em;
}

.pre-bio h2 {
    text-align: left;
    font-size: 2em;
}

.pre-bio p, a{
    text-align: center;
    font-size: 1.5em;
}

.pre-bio a {
    color: #858c92;
}

.pre-bio a:hover {
    color: #2d475d;
}

.self-portrait {
    padding: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*profile Section (END)*/